@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
html, body{min-height:100vh}
.nav {
  background-color: #1E3942;
  text-align: center;
}

li {
  list-style-type: none;
  display: inline;
  padding: 5px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  text-transform: capitalize;


}

li a {
  color: white;
  text-decoration: none;
}

#nav-item {
  background-color: #1E3932;
  width: 80%;
  margin: 0px auto;
}

.body-content {
  background-image: linear-gradient(to top, #1E3932, grey);
  margin-top: 0px;
}

span {
  color: red;
  text-transform: capitalize;

}

img {
  width: 50%;
  max-height:50vh;
  height: 50%;
  border-radius: 200%;
  margin-right: auto;
  margin-left: auto;
  display: block;

}

h1,
p {
  text-align: center;
  color: white;
}

h1 {
  font-size: 24px;
  text-transform: capitalize;
}

h1 p {
  font-size: 24px;
}

.btn {
  text-transform: capitalize;
  background-color: transparent;
  border: solid 2px white;
  padding: 7px 10px;
  border-radius: 5px;
  width: auto%;
  margin: 10px auto;
  display: block;
}

.footer {
  color: black;
  font-size: 16px;
  background-color:#1E3922;
}
