body {
    background-image: url(images/black.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    }
/*html{height:100%};*/
li{list-style-type: none;
  display:inline;}
li a {  
    
      text-decoration: none; 
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      padding: 5px 5px;
      color: white;
      width:20%;
}
nav li a:hover{ color: aqua;}
#whatever{color:purple;
 font-size: 32px;
text-align: center;
text-transform: uppercase;
margin:200px auto;}
/*<!----------------------------------------------------------------------------------------------------->*/
.icon-bar {
    width: 50%; /* Full-width */
    background-color: transparent; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
  }
  
  .icon-bar a {
    float:left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 10%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 32px; /* Increased font size */
  }
  
  .icon-bar a:hover {
    background-color: gray; /* Add a hover color */
  }
  
  .active {
    background-color: #4CAF50; /* Add an active/current color */
  }
  